aiohttp[speedups]
discord.py[voice,speed] @ git+https://github.com/CDE90/discord.py
gtts[async] @ git+https://github.com/CDE90/gTTS
redis
types-redis
prisma
cachetools
types-cachetools
asyncache
jishaku @ git+https://github.com/CDE90/jishaku
