discord.py[voice]
gtts
mutagen
git+https://github.com/top-gg/python-sdk/ # topggpy
pynacl
redis
types-redis
pre-commit
requests
prisma
cachetools
types-cachetools
asyncache
jishaku
matplotlib
orjson>=3.5.4 # these are discord.py's speed modules
aiodns>=1.1
Brotli